* {
   box-sizing: border-box;
}

header {
  padding: 30px;
    background-color: white;
}

footer {
  background-color: #081C24;
  height: 100px;
}

footer div {
  color: white;
  font-size: 1rem;
  height: 100%;
}
  
  footer div p {
    text-align: center;
    padding: 32px;
}

header div {
  text-align: center;
}

header div img {
  height: 150px;
  width: 250px;
}

body, html {
   height: 100%;
   background-color: #F4F4F4;
}

p {
  margin: 0px;
}

h1 {
   margin-bottom: 20px;
}

ul {
  list-style: none;
}

/* Navigation */

.navbar-nav {
  margin: 0 auto;
}

.bg-faded {
  background-color: white;
}

/***************************************************************/

#movie-section {
   margin-bottom: 20px;
   margin-top: 40px;
}

/* Start slider */

img {
   background-size: cover;
   width: 100%;
}

.img-fluid {
   height: 100%;
   }

   .carousel-control-next-icon, .carousel-control-prev-icon {
      height: 40px;
      width: 40px
   }

   .carousel-indicators li {
      max-width: 50px;
      height: 8px;
   }

   .carousel-caption {
   top: 400px;
   }

/*******************************************/

.movieItem img {
   width: 100%;
   height: 100%;
}

#content {
  height: 100%;
}
.card {
   height: 602px;
}

#nav-options {
  text-align: center;
}

.movieItem {
  padding: 15px;
}

.movieItem .movie-image {
  padding: 0;
  height: 278px;
}

.movie-image .movie-image img {
    position:absolute;
    top:0;
    min-height:100%;
    display:block;
    left:0;
    min-width:100%;
}

.info {
  position: relative;
  padding: 15px;
  background-color: white;
  height: 278px;
}

.movieItem .title,
.movieItem .genres,
.movieItem .overview
  {
  float: left;
  clear: both;
}

.movieItem .rating,
 .movieItem .release_date {
  float: right;
}

.info .overview {
  margin-top: 30px;
  text-align: left;
}

.info .view-more {
  position: absolute;
  bottom: 0;
 display: block;
 border-top: 1px solid #eee;
 width: 100%;
 padding: 20px;
}

.media-info-container {
  text-align: left;
}

/* Media overview */

#person-details-container h3 {
  font-size: 1.7rem;
}

   .features-row {
     margin-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
   }

   .features-row div {
     width: 100%;
   }

.media-cover-container img {
  width: 100%;
}

.media-title {
  padding: 0px 15px;
}

.media-title h2 {
  float: left;
  margin-right: 30px;
}

.media-title h2,
#media-overview-item h3 {
    margin-bottom: 30px;
}

.media-rating {
  font-size: 1.5rem;
}

#media-overview .media-actor {
  display: inline-block;
}

#media-overview .overview {
  margin-bottom: 20px;
}

.media-information-container h3,
p {
  text-align: left;
}

#media-overview-item ul,
#media-overview-item li {
  padding: 0px;
}

.media-actor {
  margin-bottom: 20px;
}

/******************************************************/

 /* Person information */

 .known-for-item {
   padding: 10px;
 }

 .known-for-item .image img {
   height: 225px;
   width: 150px;
 }

 #known-for-ul {
   text-align: center;
 }

  #known-for-container img {
    max-width: 150px;
    max-height: 225px;
  }

/* Startpage carousel */

.carousel-inner {
 height: 800px;
}
.carousel-inner img {
background-size: cover;
height: 100%
}

.carouselExampleIndicators {
 height: 800px;
}


/**********************************************/
/* Search form startpage */

.form-inline .form-group {
  padding: 0px;
}

#nav-options {
  height: 60px;
}
#nav-options .form-inline,
.form-inline .form-group,
.form-inline .form-group input,
.form-inline select.form-control:not([size]):not([multiple]),
.form-inline .form-group button {
  border-radius: 0;
  width: 100%;
  height: 100%
}

/* about-section */
#about-section {
  margin: 40px 0;
}

#about-section h1 {
  font-size: 1.8rem;
}

#about-section p {
  margin-bottom: 15px;
}


/**********************************************/

/* Ajax loader icon */

.ajax-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: rgba(255, 255, 255, .8)
                    url('../images/ajax-loader.gif')
                    no-repeat 50%;
}

.ajax-load-fix {
  height: 600px;
}
